/*
Pomidoro App
app.css

created by @sauliuz
PopularOwl Labs // www.popularowl.com
For tutorial on www.htmlcenter.com
*/


.slider {
  margin-bottom: 0;
  height: 150px;
}

.slider li img {
  width: 100%;
}

.form-wrapper {
  padding: 10px;
}


.movieimg {
  width: 365px;
  height: 282px;
}